{%- if block.settings.cta_1 != blank -%}
<li class="list-social__item">
  <a href="{{ block.settings.cta_1_url }}">
  <img src="{{ block.settings.cta_1_img | img_url: "51x" }}">
    <span class="cta-label">{{ block.settings.cta_1 }}</span>
  </a> 
</li>
{%- endif -%}
{%- if block.settings.cta_2 != blank -%}
<li class="list-social__item">
  <a href="{{ block.settings.cta_2_url }}">
  <img src="{{ block.settings.cta_2_img | img_url: "51x" }}">
    <span class="cta-label">{{ block.settings.cta_2 }}</span>
  </a> 
</li>
{%- endif -%}
{%- if block.settings.cta_3 != blank -%}
<li class="list-social__item">
  <a href="{{ block.settings.cta_3_url }}">
  <img src="{{ block.settings.cta_3_img | img_url: "51x" }}">
    <span class="cta-label">{{ block.settings.cta_3 }}</span>
  </a> 
</li>
{%- endif -%}
{%- if block.settings.cta_4 != blank -%}
<li class="list-social__item">
  <a href="{{ block.settings.cta_4_url }}">
  <img src="{{ block.settings.cta_4_img | img_url: "51x" }}">
    <span class="cta-label">{{ block.settings.cta_4 }}</span>
  </a> 
</li>
{%- endif -%}
{%- if block.settings.cta_5 != blank -%}
<li class="list-social__item">
  <a href="{{ block.settings.cta_5_url }}">
  <img src="{{ block.settings.cta_5_img | img_url: "51x" }}">
    <span class="cta-label">{{ block.settings.cta_5 }}</span>
  </a> 
</li>
{%- endif -%}