{%- if block.settings.btn_1 != blank -%}
  <li>
    <a class="button button--secondary center" href="{{ block.settings.btn_1_url }}">{{ block.settings.btn_1 }}</a> 
  </li>
{%- endif -%}
{%- if block.settings.btn_2 != blank -%}
  <li>
    <a class="button button--secondary center" href="{{ block.settings.btn_2_url }}">{{ block.settings.btn_2 }}</a> 
  </li>
{%- endif -%}
{%- if block.settings.btn_3 != blank -%}
  <li>
    <a class="button button--secondary center" href="{{ block.settings.btn_3_url }}">{{ block.settings.btn_3 }}</a> 
  </li>
{%- endif -%}
{%- if block.settings.btn_4 != blank -%}
  <li>
    <a class="button button--secondary center" href="{{ block.settings.btn_4_url }}">{{ block.settings.btn_4 }}</a> 
  </li>
{%- endif -%}
{%- if block.settings.btn_5 != blank -%}
  <li>
    <a class="button button--secondary center" href="{{ block.settings.btn_5_url }}">{{ block.settings.btn_5 }}</a> 
  </li>
{%- endif -%}
{%- if block.settings.btn_6 != blank -%}
  <li>
    <a class="button button--secondary center" href="{{ block.settings.btn_6_url }}">{{ block.settings.btn_6 }}</a> 
  </li>
{%- endif -%}
{%- if block.settings.btn_7 != blank -%}
  <li>
    <a class="button button--secondary center" href="{{ block.settings.btn_7_url }}">{{ block.settings.btn_7 }}</a> 
  </li>
{%- endif -%}
{%- if block.settings.btn_8 != blank -%}
  <li>
    <a class="button button--secondary center" href="{{ block.settings.btn_8_url }}">{{ block.settings.btn_8 }}</a> 
  </li>
{%- endif -%}
{%- if block.settings.btn_9 != blank -%}
  <li>
    <a class="button button--secondary center" href="{{ block.settings.btn_9_url }}">{{ block.settings.btn_9 }}</a> 
  </li>
{%- endif -%}