{%- style -%}
  #shopify-section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
    {%- if section.settings.image != blank %}
      --image-ratio-percent: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
      --image-position: {{ section.settings.image_position }};
    {% endif -%}
  }

  {%- if section.settings.mobile_text_box_position == 'image_first' -%}
    @media screen and (min-width: 750px) {
  {%- endif -%}
      #shopify-section-{{ section.id }} {
        --color-background-opacity: {{ section.settings.colors_overlay_opacity | divided_by: 100.0 }};
        --gradient-background: {% if section.settings.gradient_overlay != blank %}{{ section.settings.gradient_overlay }}{% else %}{{ section.settings.colors_overlay }}{% endif %};
        --color-background: {{ section.settings.colors_overlay.red }}, {{ section.settings.colors_overlay.green }}, {{ section.settings.colors_overlay.blue }};
        --color-foreground: {{ section.settings.colors_text.red }}, {{ section.settings.colors_text.green }}, {{ section.settings.colors_text.blue }};
        --color-link: var(--color-foreground);
        --color-heading: var(--color-foreground);
        --color-button-background: {{ section.settings.colors_button_background.red }}, {{ section.settings.colors_button_background.green }}, {{ section.settings.colors_button_background.blue }};
        --color-button-text: {{ section.settings.colors_button_label.red }}, {{ section.settings.colors_button_label.green }}, {{ section.settings.colors_button_label.blue }};
        --color-button-border: var(--color-button-background);
        --color-shadow: var(--color-foreground);
        --shadow-opacity: 0.3;
      }
  {%- if section.settings.mobile_text_box_position == 'image_first' -%}
    }
  {%- endif -%}
{%- endstyle -%}

{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}
{{ 'section-map.css' | asset_url | stylesheet_tag }}

<style>
  .locations {
    display: flex;
    gap: 20px;
    margin: 0 auto;
  }

  .locations .banner__box::after {
    position: static!important;
  }

  .locations__wrapper {
    display: flex;
    justify-content: flex-end;
    flex-direction: column-reverse;
    width: 500px;
  }

  .locations__map {
    border-radius: 10px;
    max-height: 400px;
  }

  .locations__content {
    width: 70%;
    padding: 0!important;
    margin: 0 auto;
  }

  .locations__box {
    max-width: none!important;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    position: relative;
    top: -50px;
    padding: 2rem!important;
  }

  .banner__heading {
    font-size: 16px;
    line-height: 25px;
    margin: 0;
  }

  .banner__subheading {
    color: rgba(255, 255, 255, 0.8);
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    margin: 0;
  }

  .locations__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .locations__info-wrapper {
    display: flex;
    gap: 10px;
  }

  .locations__info p {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 11px;
    line-height: 17px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
  }

  .locations__info-text {
    position: relative;
  }

  .locations__info-text:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: -25px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
  }

  @media (max-width: 768px) {
    .locations {
      margin: 200px 0;
    }

    .locations__wrapper {
      width: auto;
      margin: 0 auto;
    }

    .locations__map {
      max-height: 300px;
    }

    .locations__map g-map {
      border-radius: 10px;
    }

    .locations__content {
      width: 90%;
    }
  }
</style>

<div class="section--padding{% if section.settings.show_divider %} section--divider{% endif %}">
  <div class="page-width{% if section.settings.full_width %} page-width--full-width{% endif %}">
    <div id="Banner-{{ section.id }}" class="locations banner banner--map banner-mobile--{{ section.settings.mobile_text_box_position }}{% if section.settings.image != blank %} banner--stacked{% endif %}">
      {% for block in section.blocks %}
        <div class="locations__wrapper">
          <div class="locations__content ">
            <use-animate data-animate="fade-up" class="locations__box banner__box {{ section.settings.text_alignment }} mobile-{{ section.settings.mobile_text_alignment }}">
              {{ block.settings.flag | img_url: 'master' | img_tag: block.settings.title, 'banner__image' }}

              <h3 class="banner__heading" >{{ block.settings.title }}</h3>

              <p class="banner__subheading">{{ block.settings.subtitle }}</p>

              <div class="locations__info">
                {% if block.settings.address != blank %}
                  <div class="locations__info-wrapper">
                    <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M13.4174 13.0483C12.8273 13.6385 11.699 14.7667 10.7511 15.7147C9.86765 16.5981 8.4363 16.5982 7.55289 15.7147C6.62271 14.7846 5.51343 13.6753 4.88646 13.0483C2.53069 10.6925 2.53069 6.87308 4.88646 4.51731C7.24222 2.16155 11.0617 2.16155 13.4174 4.51731C15.7732 6.87308 15.7732 10.6925 13.4174 13.0483Z" stroke="white" stroke-width="1.13106" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M11.4141 8.78281C11.4141 10.0321 10.4013 11.0449 9.15195 11.0449C7.90262 11.0449 6.88983 10.0321 6.88983 8.78281C6.88983 7.53348 7.90262 6.52069 9.15195 6.52069C10.4013 6.52069 11.4141 7.53348 11.4141 8.78281Z" stroke="white" stroke-width="1.13106" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
  
                    <p class="locations__info-text address">{{ block.settings.address }}</p>
                  </div>
                {% endif %}

                {% if block.settings.phone != blank %}
                  <div class="locations__info-wrapper">
                    <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0.812012 2.47018C0.812012 1.63729 1.4872 0.962097 2.32009 0.962097H4.79277C5.11733 0.962097 5.40548 1.16978 5.50812 1.47769L6.63753 4.86592C6.75619 5.22192 6.59503 5.61099 6.2594 5.77881L4.55733 6.62984C5.38847 8.47326 6.87358 9.95836 8.717 10.7895L9.56803 9.08743C9.73585 8.7518 10.1249 8.59064 10.4809 8.70931L13.8691 9.83872C14.1771 9.94135 14.3847 10.2295 14.3847 10.5541V13.0267C14.3847 13.8596 13.7095 14.5348 12.8767 14.5348H12.1226C5.87594 14.5348 0.812012 9.47089 0.812012 3.22422V2.47018Z" stroke="white" stroke-width="1.13106" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                      
                    <p class="locations__info-text phone">{{ block.settings.phone }}</p>
                  </div>
                {% endif %}

                {% if block.settings.message != blank %}
                  <div class="locations__info-wrapper">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M7.59581 6.87721C7.17828 6.87721 6.83942 7.21608 6.83942 7.63361C6.83942 8.05114 7.17828 8.39 7.59581 8.39C8.01334 8.39 8.3522 8.05114 8.3522 7.63361C8.3522 7.21608 8.01334 6.87721 7.59581 6.87721ZM10.6113 6.87726C10.1938 6.87726 9.85494 7.21612 9.85494 7.63365C9.85494 8.05118 10.1938 8.39005 10.6113 8.39005C11.0289 8.39005 11.3677 8.05118 11.3677 7.63365C11.3677 7.21612 11.0289 6.87726 10.6113 6.87726ZM3.82467 7.63365C3.82467 7.21612 4.16353 6.87726 4.58106 6.87726C4.99859 6.87726 5.33745 7.21612 5.33745 7.63365C5.33745 8.05118 4.99859 8.39005 4.58106 8.39005C4.16353 8.39005 3.82467 8.05118 3.82467 7.63365ZM13.5533 8.60791C13.171 11.0616 11.1932 13.0967 8.74328 13.5559C7.56019 13.7791 6.35524 13.6517 5.26188 13.1887C4.95197 13.0575 4.6315 12.9911 4.31707 12.9911C4.1738 12.9911 4.03204 13.0047 3.89254 13.0326L1.77218 13.4564L2.1967 11.3323C2.28568 10.8911 2.23139 10.4191 2.04062 9.96744C1.57764 8.87409 1.45096 7.66988 1.6734 6.48604C2.13261 4.03616 4.16701 2.05832 6.62141 1.67602C8.57438 1.37214 10.4844 1.98744 11.8627 3.36582C13.2419 4.74496 13.8579 6.6557 13.5533 8.60791ZM12.9288 2.29945C11.2058 0.577223 8.82308 -0.191144 6.38828 0.185122C3.31406 0.664691 0.765403 3.14096 0.19007 6.20764C-0.0874168 7.68405 0.0724398 9.18761 0.650789 10.5547C0.723931 10.7289 0.746552 10.891 0.717898 11.0365L0.0709317 14.2698C0.021165 14.5172 0.0988312 14.7728 0.277539 14.9507C0.420052 15.094 0.612333 15.1717 0.810645 15.1717C0.859658 15.1717 0.90867 15.1671 0.958437 15.1573L4.18799 14.5111C4.37349 14.4757 4.55295 14.5277 4.67284 14.5775C6.04142 15.1558 7.54498 15.3149 9.01988 15.0382C12.0873 14.4629 14.5636 11.9142 15.0432 8.84C15.4217 6.40671 14.6518 4.02243 12.9288 2.29945Z" fill="white"/>
                    </svg>
                      
                    <p class="locations__info-text message">{{ block.settings.message }}</p>
                  </div>
                {% endif %}

                {% if block.settings.email != blank %}
                  <div class="locations__info-wrapper">
                    <svg width="15" height="12" viewBox="0 0 15 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0.812012 3.00675L6.76184 6.97331C7.26841 7.31102 7.92834 7.31102 8.43491 6.97331L14.3847 3.00675M2.32009 11.3012H12.8767C13.7095 11.3012 14.3847 10.626 14.3847 9.79312V2.25271C14.3847 1.41982 13.7095 0.744629 12.8767 0.744629H2.32009C1.4872 0.744629 0.812012 1.41982 0.812012 2.25271V9.79312C0.812012 10.626 1.4872 11.3012 2.32009 11.3012Z" stroke="white" stroke-width="1.13106" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                      
                    <p class="locations__info-text email">{{ block.settings.email }}</p>
                  </div>
                {% endif %}
              </div>
            </use-animate>
          </div>
    
          <div class="banner__media locations__map">
            <div class="media-wrapper">
              <div class="media media--{{ section.settings.image_ratio }} media-mobile--{{ section.settings.mobile_image_ratio }}">
                {%- if section.settings.image != blank -%}
                  {%- capture sizes -%}{% if section.settings.full_width %}100vw{% else %}(min-width: 1440px) {{ 1440 | minus: 100 }}px, (min-width: 750px) calc(100vw - 10rem), 100vw{% endif %}{%- endcapture -%}
                  {{ section.settings.image | image_url: width: 3840 | image_tag:
                    loading: 'lazy',
                    class: 'image-fit',
                    sizes: sizes,
                    widths: '375, 750, 1100, 1500, 1780, 2000, 3000, 3840',
                    is: 'lazy-image'
                  }}
                {%- else -%}
                  <span></span>
                {%- endif -%}
              </div>
            </div>
            <g-map
              class="banner__map"
              data-map-address="{{ block.settings.map_address | escape }}"
              data-api-key="{{ section.settings.map_api_key }}"
              data-zoom="{{ section.settings.map_zoom }}"
              data-marker-color="{% if section.settings.map_style == 'standard' or section.settings.map_style == 'silver' or section.settings.map_style == 'retro' %}#000000{% else %}#ffffff{% endif %}"
            >
            </g-map>
            <script type="application/json" data-gmap-style>
              {%- case section.settings.map_style -%}
                {%- when 'standard' -%}
                  []
          
                {%- when 'silver' -%}
                  [
                    { "elementType": "geometry", "stylers": [{"color": "#f5f5f5"}] },
                    { "elementType": "labels.icon", "stylers": [{"visibility": "off"}] },
                    { "elementType": "labels.text.fill", "stylers": [{"color": "#616161"}] },
                    { "elementType": "labels.text.stroke", "stylers": [{"color": "#f5f5f5"}] },
                    { "featureType": "administrative.land_parcel", "elementType": "labels.text.fill", "stylers": [{"color": "#bdbdbd"}] },
                    { "featureType": "poi", "elementType": "geometry", "stylers": [{"color": "#eeeeee"}] },
                    { "featureType": "poi", "elementType": "labels.text.fill", "stylers": [{"color": "#757575"}] },
                    { "featureType": "poi.park", "elementType": "geometry", "stylers": [{"color": "#e5e5e5"}] },
                    { "featureType": "poi.park", "elementType": "labels.text.fill", "stylers": [{"color": "#9e9e9e"}] },
                    { "featureType": "road", "elementType": "geometry", "stylers": [{"color": "#ffffff"}] },
                    { "featureType": "road.arterial", "elementType": "labels.text.fill", "stylers": [{"color": "#757575"}] },
                    { "featureType": "road.highway", "elementType": "geometry", "stylers": [{"color": "#dadada"}] },
                    { "featureType": "road.highway", "elementType": "labels.text.fill", "stylers": [{"color": "#616161"}] },
                    { "featureType": "road.local", "elementType": "labels.text.fill", "stylers": [{"color": "#9e9e9e"}] },
                    { "featureType": "transit.line", "elementType": "geometry", "stylers": [{"color": "#e5e5e5"}] },
                    { "featureType": "transit.station", "elementType": "geometry", "stylers": [{"color": "#eeeeee"}] },
                    { "featureType": "water", "elementType": "geometry", "stylers": [{"color": "#c9c9c9"}] },
                    { "featureType": "water", "elementType": "labels.text.fill", "stylers": [{"color": "#9e9e9e"}] }
                  ]
          
                {%- when 'retro' -%}
                  [
                    { "elementType": "geometry", "stylers": [{"color": "#ebe3cd"}] },
                    { "elementType": "labels.text.fill", "stylers": [{"color": "#523735"}] },
                    { "elementType": "labels.text.stroke", "stylers": [{"color": "#f5f1e6"}] },
                    { "featureType": "administrative", "elementType": "geometry.stroke", "stylers": [{"color": "#c9b2a6"}] },
                    { "featureType": "administrative.land_parcel", "elementType": "geometry.stroke", "stylers": [{"color": "#dcd2be"}] },
                    { "featureType": "administrative.land_parcel", "elementType": "labels.text.fill", "stylers": [{"color": "#ae9e90"}] },
                    { "featureType": "landscape.natural", "elementType": "geometry", "stylers": [{"color": "#dfd2ae"}] },
                    { "featureType": "poi", "elementType": "geometry", "stylers": [{"color": "#dfd2ae"}] },
                    { "featureType": "poi", "elementType": "labels.text.fill", "stylers": [{"color": "#93817c"}] },
                    { "featureType": "poi.park", "elementType": "geometry.fill", "stylers": [{"color": "#a5b076"}] },
                    { "featureType": "poi.park", "elementType": "labels.text.fill", "stylers": [{"color": "#447530"}] },
                    { "featureType": "road", "elementType": "geometry", "stylers": [{"color": "#f5f1e6"}] },
                    { "featureType": "road.arterial", "elementType": "geometry", "stylers": [{"color": "#fdfcf8"}] },
                    { "featureType": "road.highway", "elementType": "geometry", "stylers": [{"color": "#f8c967"}] },
                    { "featureType": "road.highway", "elementType": "geometry.stroke", "stylers": [{"color": "#e9bc62"}] },
                    { "featureType": "road.highway.controlled_access", "elementType": "geometry", "stylers": [{"color": "#e98d58"}] },
                    { "featureType": "road.highway.controlled_access", "elementType": "geometry.stroke", "stylers": [{"color": "#db8555"}] },
                    { "featureType": "road.local", "elementType": "labels.text.fill", "stylers": [{"color": "#806b63"}] },
                    { "featureType": "transit.line", "elementType": "geometry", "stylers": [{"color": "#dfd2ae"}] },
                    { "featureType": "transit.line", "elementType": "labels.text.fill", "stylers": [{"color": "#8f7d77"}] },
                    { "featureType": "transit.line", "elementType": "labels.text.stroke", "stylers": [{"color": "#ebe3cd"}] },
                    { "featureType": "transit.station", "elementType": "geometry", "stylers": [{"color": "#dfd2ae"}] },
                    { "featureType": "water", "elementType": "geometry.fill", "stylers": [{"color": "#b9d3c2"}] },
                    { "featureType": "water", "elementType": "labels.text.fill", "stylers": [{"color": "#92998d"}] }
                  ]
          
                {%- when 'dark' -%}
                  [
                    { "elementType": "geometry", "stylers": [{"color": "#212121"}] },
                    { "elementType": "labels.icon", "stylers": [{"visibility": "off"}] },
                    { "elementType": "labels.text.fill", "stylers": [{"color": "#757575"}] },
                    { "elementType": "labels.text.stroke", "stylers": [{"color": "#212121"}] },
                    { "featureType": "administrative", "elementType": "geometry", "stylers": [{"color": "#757575"}] },
                    { "featureType": "administrative.country", "elementType": "labels.text.fill", "stylers": [{"color": "#9e9e9e"}] },
                    { "featureType": "administrative.land_parcel", "stylers": [{"visibility": "off"}] },
                    { "featureType": "administrative.locality", "elementType": "labels.text.fill", "stylers": [{"color": "#bdbdbd"}] },
                    { "featureType": "poi", "elementType": "labels.text.fill", "stylers": [{"color": "#757575"}] },
                    { "featureType": "poi.park", "elementType": "geometry", "stylers": [{"color": "#181818"}] },
                    { "featureType": "poi.park", "elementType": "labels.text.fill", "stylers": [{"color": "#616161"}] },
                    { "featureType": "poi.park", "elementType": "labels.text.stroke", "stylers": [{"color": "#1b1b1b"}] },
                    { "featureType": "road", "elementType": "geometry.fill", "stylers": [{"color": "#2c2c2c"}] },
                    { "featureType": "road", "elementType": "labels.text.fill", "stylers": [{"color": "#8a8a8a"}] },
                    { "featureType": "road.arterial", "elementType": "geometry", "stylers": [{"color": "#373737"}] },
                    { "featureType": "road.highway", "elementType": "geometry", "stylers": [{"color": "#3c3c3c"}] },
                    { "featureType": "road.highway.controlled_access", "elementType": "geometry", "stylers": [{"color": "#4e4e4e"}] },
                    { "featureType": "road.local", "elementType": "labels.text.fill", "stylers": [{"color": "#616161"}] },
                    { "featureType": "transit", "elementType": "labels.text.fill", "stylers": [{"color": "#757575"}] },
                    { "featureType": "water", "elementType": "geometry", "stylers": [{"color": "#000000"}] },
                    { "featureType": "water", "elementType": "labels.text.fill", "stylers": [{"color": "#3d3d3d"}] }
                  ]
          
                {%- when 'night' -%}
                  [
                    { "elementType": "geometry", "stylers": [{"color": "#242f3e"}] },
                    { "elementType": "labels.text.fill", "stylers": [{"color": "#746855"}] },
                    { "elementType": "labels.text.stroke", "stylers": [{"color": "#242f3e"}] },
                    { "featureType": "administrative.locality", "elementType": "labels.text.fill", "stylers": [{"color": "#d59563"}] },
                    { "featureType": "poi", "elementType": "labels.text.fill", "stylers": [{"color": "#d59563"}] },
                    { "featureType": "poi.park", "elementType": "geometry", "stylers": [{"color": "#263c3f"}] },
                    { "featureType": "poi.park", "elementType": "labels.text.fill", "stylers": [{"color": "#6b9a76"}] },
                    { "featureType": "road", "elementType": "geometry", "stylers": [{"color": "#38414e"}] },
                    { "featureType": "road", "elementType": "geometry.stroke", "stylers": [{"color": "#212a37"}] },
                    { "featureType": "road", "elementType": "labels.text.fill", "stylers": [{"color": "#9ca5b3"}] },
                    { "featureType": "road.highway", "elementType": "geometry", "stylers": [{"color": "#746855"}] },
                    { "featureType": "road.highway", "elementType": "geometry.stroke", "stylers": [{"color": "#1f2835"}] },
                    { "featureType": "road.highway", "elementType": "labels.text.fill", "stylers": [{"color": "#f3d19c"}] },
                    { "featureType": "transit", "elementType": "geometry", "stylers": [{"color": "#2f3948"}] },
                    { "featureType": "transit.station", "elementType": "labels.text.fill", "stylers": [{"color": "#d59563"}] },
                    { "featureType": "water", "elementType": "geometry", "stylers": [{"color": "#17263c"}] },
                    { "featureType": "water", "elementType": "labels.text.fill", "stylers": [{"color": "#515c6d"}] },
                    { "featureType": "water", "elementType": "labels.text.stroke", "stylers": [{"color": "#17263c"}] }
                  ]
          
                {%- when 'aubergine' -%}
                  [
                    { "elementType": "geometry", "stylers": [{"color": "#1d2c4d"}] },
                    { "elementType": "labels.text.fill", "stylers": [{"color": "#8ec3b9"}] },
                    { "elementType": "labels.text.stroke", "stylers": [{"color": "#1a3646"}] },
                    { "featureType": "administrative.country", "elementType": "geometry.stroke", "stylers": [{"color": "#4b6878"}] },
                    { "featureType": "administrative.land_parcel", "elementType": "labels.text.fill", "stylers": [{"color": "#64779e"}] },
                    { "featureType": "administrative.province", "elementType": "geometry.stroke", "stylers": [{"color": "#4b6878"}] },
                    { "featureType": "landscape.man_made", "elementType": "geometry.stroke", "stylers": [{"color": "#334e87"}] },
                    { "featureType": "landscape.natural", "elementType": "geometry", "stylers": [{"color": "#023e58"}] },
                    { "featureType": "poi", "elementType": "geometry", "stylers": [{"color": "#283d6a"}] },
                    { "featureType": "poi", "elementType": "labels.text.fill", "stylers": [{"color": "#6f9ba5"}] },
                    { "featureType": "poi", "elementType": "labels.text.stroke", "stylers": [{"color": "#1d2c4d"}] },
                    { "featureType": "poi.park", "elementType": "geometry.fill", "stylers": [{"color": "#023e58"}] },
                    { "featureType": "poi.park", "elementType": "labels.text.fill", "stylers": [{"color": "#3C7680"}] },
                    { "featureType": "road", "elementType": "geometry", "stylers": [{"color": "#304a7d"}] },
                    { "featureType": "road", "elementType": "labels.text.fill", "stylers": [{"color": "#98a5be"}] },
                    { "featureType": "road", "elementType": "labels.text.stroke", "stylers": [{"color": "#1d2c4d"}] },
                    { "featureType": "road.highway", "elementType": "geometry", "stylers": [{"color": "#2c6675"}] },
                    { "featureType": "road.highway", "elementType": "geometry.stroke", "stylers": [{"color": "#255763"}] },
                    { "featureType": "road.highway", "elementType": "labels.text.fill", "stylers": [{"color": "#b0d5ce"}] },
                    { "featureType": "road.highway", "elementType": "labels.text.stroke", "stylers": [{"color": "#023e58"}] },
                    { "featureType": "transit", "elementType": "labels.text.fill", "stylers": [{"color": "#98a5be"}] },
                    { "featureType": "transit", "elementType": "labels.text.stroke", "stylers": [{"color": "#1d2c4d"}] },
                    { "featureType": "transit.line", "elementType": "geometry.fill", "stylers": [{"color": "#283d6a"}] },
                    { "featureType": "transit.station", "elementType": "geometry", "stylers": [{"color": "#3a4762"}] },
                    { "featureType": "water", "elementType": "geometry", "stylers": [{"color": "#0e1626"}] },
                    { "featureType": "water", "elementType": "labels.text.fill", "stylers": [{"color": "#4e6d70"}] }
                  ]
              {%- endcase -%}
            </script>
          </div>
        </div>
      {% endfor %}
      
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Locations",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "map_api_key",
      "label": "t:sections.map.settings.map_api_key.label",
      "info": "t:sections.map.settings.map_api_key.info"
    },
    {
      "type": "range",
      "id": "map_zoom",
      "min": 12,
      "max": 20,
      "step": 1,
      "label": "t:sections.map.settings.map_zoom.label",
      "default": 14
    },
    {
      "type": "select",
      "id": "map_style",
      "label": "t:sections.map.settings.map_style.label",
      "options": [
        {
          "value": "standard",
          "label": "t:sections.map.settings.map_style.options__1.label"
        },
        {
          "value": "silver",
          "label": "t:sections.map.settings.map_style.options__2.label"
        },
        {
          "value": "retro",
          "label": "t:sections.map.settings.map_style.options__3.label"
        },
        {
          "value": "dark",
          "label": "t:sections.map.settings.map_style.options__4.label"
        },
        {
          "value": "night",
          "label": "t:sections.map.settings.map_style.options__5.label"
        },
        {
          "value": "aubergine",
          "label": "t:sections.map.settings.map_style.options__6.label"
        }
      ],
      "default": "silver"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.all.image.label",
      "info": "t:sections.map.settings.image.info"
    },
    {
      "type": "select",
      "id": "image_position",
      "options": [
        {
          "value": "20% 0",
          "label": "t:sections.all.image_position.options__1.label"
        },
        {
          "value": "top center",
          "label": "t:sections.all.image_position.options__2.label"
        },
        {
          "value": "80% 0",
          "label": "t:sections.all.image_position.options__3.label"
        },
        {
          "value": "20% 50%",
          "label": "t:sections.all.image_position.options__4.label"
        },
        {
          "value": "center center",
          "label": "t:sections.all.image_position.options__5.label"
        },
        {
          "value": "80% 50%",
          "label": "t:sections.all.image_position.options__6.label"
        },
        {
          "value": "20% 100%",
          "label": "t:sections.all.image_position.options__7.label"
        },
        {
          "value": "bottom center",
          "label": "t:sections.all.image_position.options__8.label"
        },
        {
          "value": "80% 100%",
          "label": "t:sections.all.image_position.options__9.label"
        }
      ],
      "default": "center center",
      "label": "t:sections.all.image_position.label",
      "info": "t:sections.all.image_position.info"
    },
    {
      "type": "select",
      "id": "text_box_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.video-hero.settings.text_box_position.options__1.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.video-hero.settings.text_box_position.options__2.label"
        },
        {
          "value": "top-right",
          "label": "t:sections.video-hero.settings.text_box_position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.video-hero.settings.text_box_position.options__4.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.video-hero.settings.text_box_position.options__5.label"
        },
        {
          "value": "middle-right",
          "label": "t:sections.video-hero.settings.text_box_position.options__6.label"
        },
        {
          "value": "bottom-left",
          "label": "t:sections.video-hero.settings.text_box_position.options__7.label"
        },
        {
          "value": "bottom-center",
          "label": "t:sections.video-hero.settings.text_box_position.options__8.label"
        },
        {
          "value": "bottom-right",
          "label": "t:sections.video-hero.settings.text_box_position.options__9.label"
        }
      ],
      "default": "middle-left",
      "label": "t:sections.video-hero.settings.text_box_position.label"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.text_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.all.text_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.all.text_alignment.label"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "label": "t:sections.all.image_ratio.options__1.label",
          "value": "adapt"
        },
        {
          "label": "t:sections.all.image_ratio.options__2.label",
          "value": "400px"
        },
        {
          "label": "t:sections.all.image_ratio.options__3.label",
          "value": "450px"
        },
        {
          "label": "t:sections.all.image_ratio.options__4.label",
          "value": "500px"
        },
        {
          "label": "t:sections.all.image_ratio.options__5.label",
          "value": "550px"
        },
        {
          "label": "t:sections.all.image_ratio.options__6.label",
          "value": "600px"
        },
        {
          "label": "t:sections.all.image_ratio.options__7.label",
          "value": "650px"
        },
        {
          "label": "t:sections.all.image_ratio.options__8.label",
          "value": "700px"
        },
        {
          "label": "t:sections.all.image_ratio.options__9.label",
          "value": "750px"
        },
        {
          "label": "t:sections.all.image_ratio.options__10.label",
          "value": "100vh"
        }
      ],
      "default": "550px",
      "label": "t:sections.all.image_ratio.label"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "t:sections.all.full_width.label"
    },
    {
      "type": "checkbox",
      "id": "show_divider",
      "default": false,
      "label": "t:sections.all.show_divider.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.mobile_layout.header.content"
    },
    {
      "type": "select",
      "id": "mobile_text_box_position",
      "options": [
        {
          "value": "image_first",
          "label": "t:sections.map.settings.mobile_text_box_position.options__1.label"
        },
        {
          "value": "text_overlay",
          "label": "t:sections.map.settings.mobile_text_box_position.options__2.label"
        }
      ],
      "default": "image_first",
      "label": "t:sections.map.settings.mobile_text_box_position.label"
    },
    {
      "type": "select",
      "id": "mobile_text_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.mobile_layout.mobile_text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.mobile_layout.mobile_text_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.all.mobile_layout.mobile_text_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.all.mobile_layout.mobile_text_alignment.label"
    },
    {
      "type": "select",
      "id": "mobile_image_ratio",
      "options": [
        {
          "label": "t:sections.all.mobile_layout.mobile_image_ratio.options__1.label",
          "value": "auto"
        },
        {
          "label": "t:sections.all.mobile_layout.mobile_image_ratio.options__2.label",
          "value": "200px"
        },
        {
          "label": "t:sections.all.mobile_layout.mobile_image_ratio.options__3.label",
          "value": "250px"
        },
        {
          "label": "t:sections.all.mobile_layout.mobile_image_ratio.options__4.label",
          "value": "300px"
        },
        {
          "label": "t:sections.all.mobile_layout.mobile_image_ratio.options__5.label",
          "value": "400px"
        },
        {
          "label": "t:sections.all.mobile_layout.mobile_image_ratio.options__6.label",
          "value": "500px"
        },
        {
          "label": "t:sections.all.mobile_layout.mobile_image_ratio.options__7.label",
          "value": "600px"
        },
        {
          "label": "t:sections.all.mobile_layout.mobile_image_ratio.options__8.label",
          "value": "100vh"
        },
        {
          "label": "t:sections.all.mobile_layout.mobile_image_ratio.options__9.label",
          "value": "adapt"
        }
      ],
      "default": "400px",
      "label": "t:sections.all.mobile_layout.mobile_image_ratio.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.colors.header.content"
    },
    {
      "type": "color",
      "id": "colors_button_label",
      "label": "t:sections.all.colors.colors_button_label.label",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "colors_button_background",
      "label": "t:sections.all.colors.colors_button_background.label",
      "default": "#1a1b18"
    },
    {
      "type": "color",
      "id": "colors_text",
      "label": "t:sections.all.colors.colors_text.label",
      "default": "#1a1b18"
    },
    {
      "type": "color",
      "id": "colors_overlay",
      "label": "t:sections.all.colors.colors_background.label",
      "default": "#ffffff"
    },
    {
      "type": "color_background",
      "id": "gradient_overlay",
      "label": "t:sections.all.colors.gradient_background.label"
    },
    {
      "type": "range",
      "id": "colors_overlay_opacity",
      "label": "t:sections.all.colors.background_opacity.label",
      "default": 96,
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "t:sections.all.colors.background_opacity.unit"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.header.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "t:sections.all.padding.padding_top.unit",
      "label": "t:sections.all.padding.padding_top.label",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "t:sections.all.padding.padding_bottom.unit",
      "label": "t:sections.all.padding.padding_bottom.label",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "location",
      "name": "Location",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "map_address",
          "label": "Location address",
          "info": "Write correct address to show the location on the map.",
          "default": "620 King St W, Toronto, ON M5V 1M7, Canada"
        },
        {
          "type": "image_picker",
          "id": "flag",
          "label": "Country flag"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Location title"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Location subtitle"
        },
        {
          "type": "text",
          "id": "address",
          "label": "Address"
        },
        {
          "type": "text",
          "id": "phone",
          "label": "Phone number"
        },
        {
          "type": "text",
          "id": "message",
          "label": "Messengers number"
        },
        {
          "type": "text",
          "id": "email",
          "label": "Email address"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Locations"
    }
  ],
  "disabled_on": {
    "groups": ["header", "footer", "custom.overlay"]
  }
}
{% endschema %}
