{%- style -%}
  #shopify-section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
  }
{%- endstyle -%}
<link rel="stylesheet" href="{{ 'section-featured-blog.css' | asset_url }}" media="print" onload="this.media='all'">
{{ 'section-reviews.css' | asset_url | stylesheet_tag }}

<div class="section--padding{% if section.settings.show_divider %} section--divider{% endif %} reviews">
  <div class="page-width">
    <div class="reviews-top">
      <div class="title-wrapper{% if section.settings.heading == blank %} title-wrapper--no-heading{% endif %} {{ section.settings.heading_alignment }}">
        <{{ section.settings.heading_tag }} class="title">{{ section.settings.heading | escape }}</{{ section.settings.heading_tag }}>
        {%- if section.settings.heading_image != blank -%}
          <div class="title-image">
            <img
              srcset="{{ section.settings.heading_image | image_url: width: 200 }} 1x, {{ section.settings.heading_image | image_url: width: 400 }} 2x"
              src="{{ section.settings.heading_image | image_url: width: 300 }}"
              alt="{{ section.settings.heading_image.alt | escape }}"
              loading="lazy"
            />
          </div>
        {%- endif -%}
      </div>
      {%- if section.settings.btn_url != blank -%}
        <a href="{{ section.settings.btn_url }}" class="button page-button medium-hide small-hide">
          {{ 'sections.collection_list.view_all' | t }}
        </a>
      {%- endif -%}
    </div>

    <div class="reviews__block-wrapper">
    {%- if section.blocks.size > 0 -%}
      <div class="reviews__block">
        {%- for block in section.blocks -%}
          <div class="reviews__block-image">
            <img
              srcset="{{ block.settings.image | image_url: width: 437 }} 1x, {{ block.settings.image | image_url: width: 874 }} 2x"
              src="{{  block.settings.image | image_url: width: 437 }}"
              alt="{{  block.settings.image.alt | escape }}"
              loading="lazy"
            />
          </div>
        {%- endfor -%}
      </div>
    {%- endif -%}
  </div>
  </div>
</div>

{% schema %}
{
  "name": "Reviews",
  "tag": "section",
  "class": "section section-reviews",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_divider",
      "default": false,
      "label": "t:sections.all.show_divider.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.heading.label"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "Real reviews",
      "label": "t:sections.all.heading.label"
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "label": "t:sections.all.heading_alignment.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.heading_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.heading_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.all.heading_alignment.options__3.label"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.all.heading_tag.options__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_tag.options__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading_tag.options__3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.heading_tag.options__4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.heading_tag.options__5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.heading_tag.options__6.label"
        },
        {
          "value": "div",
          "label": "t:sections.all.heading_tag.options__7.label"
        },
        {
          "value": "span",
          "label": "t:sections.all.heading_tag.options__8.label"
        },
        {
          "value": "p",
          "label": "t:sections.all.heading_tag.options__9.label"
        }
      ],
      "default": "h2",
      "label": "t:sections.all.heading_tag.label",
      "info": "t:sections.all.heading_tag.info"
    },
    {
      "type": "image_picker",
      "id": "heading_image",
      "label": "Heading image"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "Button link"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.header.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "t:sections.all.padding.padding_top.unit",
      "label": "t:sections.all.padding.padding_top.label",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "t:sections.all.padding.padding_bottom.unit",
      "label": "t:sections.all.padding.padding_bottom.label",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "review",
      "name": "Review",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Reviews",
      "blocks": [
        {
          "type": "review"
        },
        {
          "type": "review"
        },
        {
          "type": "review"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": ["header", "footer", "custom.overlay"]
  }
}
{% endschema %}
