{%- style -%}
  #shopify-section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
    --color-overlay-opacity: {{ section.settings.colors_overlay_opacity | divided_by: 100.0 }};
    --color-overlay: {{ section.settings.colors_overlay.red }}, {{ section.settings.colors_overlay.green }}, {{ section.settings.colors_overlay.blue }};
    --color-foreground: {{ section.settings.colors_text.red }}, {{ section.settings.colors_text.green }}, {{ section.settings.colors_text.blue }};
    --color-link: var(--color-foreground);
    --color-border: var(--color-foreground);
    --color-heading: var(--color-foreground);
    --color-button-background: {{ section.settings.colors_button_background.red }}, {{ section.settings.colors_button_background.green }}, {{ section.settings.colors_button_background.blue }};
    --color-button-text: {{ section.settings.colors_button_label.red }}, {{ section.settings.colors_button_label.green }}, {{ section.settings.colors_button_label.blue }};
    --color-button-border: var(--color-button-background);
    --color-shadow: var(--color-foreground);
    --shadow-opacity: 0.3;
  }

  .banner__box .button {
    border-radius: 100px;
    background: transparent;
    border: 1px solid #fff;
    font-size: 18px;
    margin: 0 1rem;
  }
  .banner .banner__content {
    padding: 5rem;
  }
  #shopify-section-{{ section.id }} .section--padding {
  position: relative;
  }
  #shopify-section-{{ section.id }} .background-svg {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -41px;
  z-index:0
  }
  @media(max-width:749px) {
    #shopify-section-{{ section.id }} .section--padding {
    padding-bottom: calc(var(--section-padding-bottom) / 2);
    }
    #shopify-section-{{ section.id }} .background-svg {
      bottom: -64px;
      height: 178px;
    }
  }
{%- endstyle -%}

{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}
{{ 'section-video-hero.css' | asset_url | stylesheet_tag }}
{{ 'section-video-hero-with-text.css' | asset_url | stylesheet_tag }}

<style>
  #shopify-section-{{ section.id }} .section--padding {
    background-image: url("data:image/svg+xml,%3Csvg width='1440' height='914' viewBox='0 0 1440 914' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.5' filter='url(%23filter0_f_1102_68657)'%3E%3Cellipse cx='73.1503' cy='440.762' rx='248.051' ry='248.051' transform='rotate(-11.3401 73.1503 440.762)' fill='url(%23paint0_linear_1102_68657)'/%3E%3C/g%3E%3Cg opacity='0.5' filter='url(%23filter1_d_1102_68657)'%3E%3Cpath d='M381.657 244.838C267.086 259.839 59.2373 246.713 -30.366 238.275L-38.3223 584.334C-14.0745 588.397 52.266 597.71 123.645 602.46C212.87 608.398 479.796 604.538 591.931 584.334C758.445 554.332 857.899 549.332 1060.79 543.707C1223.09 539.206 1488.34 577.042 1600.68 596.522L1600.68 260.777C1533.81 265.777 1367.22 276.403 1235.82 278.903C1071.58 282.028 1078.4 264.84 822.664 229.837C566.926 194.835 524.871 226.087 381.657 244.838Z' fill='white' fill-opacity='0.05' shape-rendering='crispEdges'/%3E%3C/g%3E%3Cg opacity='0.5' filter='url(%23filter2_d_1102_68657)'%3E%3Cpath d='M232.814 320.641C132.267 335.462 16.1364 336.446 -29.3603 335.086L-37.3223 529.248C-19.3131 529.667 46.5054 533.519 165.707 545.577C314.709 560.65 547.31 563.162 663.327 556.568C779.344 549.973 951.094 529.876 1130.81 519.514C1274.58 511.224 1507.29 522.968 1605.68 529.876L1605.68 304.626C1476.58 285.157 1279.24 296.776 1200.19 304.626C1121.14 312.476 984.079 312.476 922.09 304.626C860.1 296.776 791.855 270.084 643.422 261.92C494.989 253.756 358.499 302.114 232.814 320.641Z' fill='white' fill-opacity='0.05' shape-rendering='crispEdges'/%3E%3C/g%3E%3Cpath d='M635.641 52.5327L872.182 323.535L912.454 391.097L908.751 388.077L579.168 129.531L635.641 52.5327Z' fill='url(%23paint1_linear_1102_68657)'/%3E%3Cpath d='M571.944 197.027L900.993 383.556L912.176 391.097L475.076 514.383L571.944 197.027Z' fill='url(%23paint2_linear_1102_68657)'/%3E%3Cpath d='M547.396 535.876L912.179 391.097L911.253 396.752L815.459 779.379L547.396 535.876Z' fill='url(%23paint3_linear_1102_68657)'/%3E%3Cpath d='M1108.33 33.3297L912.387 319.385L877.964 391.095L1169.02 106.066L1108.33 33.3297Z' fill='url(%23paint4_linear_1102_68657)'/%3E%3Cpath d='M1182.07 172.556L912.059 363.194L894.575 379.029L877.967 391.094L1304.36 482.084L1182.07 172.556Z' fill='url(%23paint5_linear_1102_68657)'/%3E%3Cpath d='M1238.45 508.492L877.964 391.094L905.937 473.284L1010.25 769.619L1238.45 508.492Z' fill='url(%23paint6_linear_1102_68657)'/%3E%3Cdefs%3E%3Cfilter id='filter0_f_1102_68657' x='-399.949' y='-32.3374' width='946.198' height='946.198' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='112.5' result='effect1_foregroundBlur_1102_68657'/%3E%3C/filter%3E%3Cfilter id='filter1_d_1102_68657' x='-113.726' y='141.612' width='1789.81' height='541.808' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='3.01616'/%3E%3CfeGaussianBlur stdDeviation='37.702'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.4 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_1102_68657'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_1102_68657' result='shape'/%3E%3C/filter%3E%3Cfilter id='filter2_d_1102_68657' x='-112.726' y='188.612' width='1793.81' height='449.808' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='3.01616'/%3E%3CfeGaussianBlur stdDeviation='37.702'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.4 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_1102_68657'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_1102_68657' result='shape'/%3E%3C/filter%3E%3ClinearGradient id='paint0_linear_1102_68657' x1='-174.901' y1='511.818' x2='185.558' y2='510.423' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%239D70AF'/%3E%3Cstop offset='1' stop-color='%23F188B7'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_1102_68657' x1='975.87' y1='431.86' x2='709.648' y2='120.932' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white' stop-opacity='0.38'/%3E%3Cstop offset='1' stop-color='white' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear_1102_68657' x1='1073.53' y1='428.445' x2='665.976' y2='252.992' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white' stop-opacity='0.38'/%3E%3Cstop offset='1' stop-color='white' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint3_linear_1102_68657' x1='1064.26' y1='327.941' x2='753.731' y2='610.271' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white' stop-opacity='0.38'/%3E%3Cstop offset='1' stop-color='white' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint4_linear_1102_68657' x1='825.466' y1='434.358' x2='1064.72' y2='121.265' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white' stop-opacity='0.38'/%3E%3Cstop offset='1' stop-color='white' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint5_linear_1102_68657' x1='733.036' y1='437.758' x2='1104.2' y2='244.563' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white' stop-opacity='0.38'/%3E%3Cstop offset='1' stop-color='white' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint6_linear_1102_68657' x1='731.879' y1='336.976' x2='1066.52' y2='576.112' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white' stop-opacity='0.38'/%3E%3Cstop offset='1' stop-color='white' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: -200px;
    padding-bottom: 600px;
    margin-bottom: -600px;
    margin-top: -43px;
    padding-top: 43px;
  }

  @media screen and (max-width: 768px) {
    #shopify-section-{{ section.id }} .section--padding {
      background-repeat: no-repeat;
      background-size: cover;
      background-position-x: center;
      background-position-y: -115px;
      padding-bottom: 500px;
      margin-bottom: -500px;
      background-image: url("data:image/svg+xml,%3Csvg width='390' height='909' viewBox='0 0 390 909' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M-17.4973 -18.2618L221.687 342.802L293.926 413.42L288.335 410.89L-205.95 198.416L-17.4973 -18.2618Z' fill='url(%23paint0_linear_1103_68659)'/%3E%3Cpath d='M-199.972 227.326L222.652 466.899L237.014 476.584L-324.388 634.93L-199.972 227.326Z' fill='url(%23paint1_linear_1103_68659)'/%3E%3Cpath d='M-241.505 582.536L227.015 396.584L225.825 403.848L102.79 895.287L-241.505 582.536Z' fill='url(%23paint2_linear_1103_68659)'/%3E%3Cpath d='M273.986 28.6699L161.604 385.985L117.933 460.378L458.199 178.595L273.986 28.6699Z' fill='url(%23paint3_linear_1103_68659)'/%3E%3Cpath d='M456.195 256.691L163.37 463.436L144.41 480.609L126.398 493.693L588.82 592.371L456.195 256.691Z' fill='url(%23paint4_linear_1103_68659)'/%3E%3Cpath d='M526.948 621.089L136 493.773L166.337 582.907L279.465 904.28L526.948 621.089Z' fill='url(%23paint5_linear_1103_68659)'/%3E%3Cg opacity='0.5' filter='url(%23filter0_f_1103_68659)'%3E%3Cellipse cx='-62.0381' cy='218.645' rx='139.548' ry='139.548' transform='rotate(-11.3401 -62.0381 218.645)' fill='url(%23paint6_linear_1103_68659)'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_1103_68659' x='-250.321' y='30.3618' width='376.565' height='376.565' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='24.3538' result='effect1_foregroundBlur_1103_68659'/%3E%3C/filter%3E%3ClinearGradient id='paint0_linear_1103_68659' x1='386.076' y1='443.149' x2='-46.7934' y2='144.785' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white' stop-opacity='0.38'/%3E%3Cstop offset='1' stop-color='white' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_1103_68659' x1='444.26' y1='524.554' x2='-79.1987' y2='299.205' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white' stop-opacity='0.38'/%3E%3Cstop offset='1' stop-color='white' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear_1103_68659' x1='422.351' y1='315.469' x2='23.5075' y2='678.087' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white' stop-opacity='0.38'/%3E%3Cstop offset='1' stop-color='white' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint3_linear_1103_68659' x1='57.2938' y1='502.399' x2='344.106' y2='185.611' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white' stop-opacity='0.38'/%3E%3Cstop offset='1' stop-color='white' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint4_linear_1103_68659' x1='-30.7788' y1='544.3' x2='371.749' y2='334.782' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white' stop-opacity='0.38'/%3E%3Cstop offset='1' stop-color='white' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint5_linear_1103_68659' x1='-22.4282' y1='435.082' x2='340.488' y2='694.423' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white' stop-opacity='0.38'/%3E%3Cstop offset='1' stop-color='white' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint6_linear_1103_68659' x1='-201.586' y1='258.619' x2='1.20011' y2='257.834' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%239D70AF'/%3E%3Cstop offset='1' stop-color='%23F188B7'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
    }
  }
</style>

<div class="page-width">
  {% include 'breadcrumbs' %}
</div>

<div class="section--padding{% if section.settings.show_divider %} section--divider{% endif %}">
  <div class="page-width
    {% case section.settings.layout_width %}{% when 'full_width' %}page-width--full-width{% when 'layout_width_custom' %}page-width--hero-banner{% else %}{% endcase %}">
    <div id="Banner-{{ section.id }}" class="banner{% if section.settings.show_text_box %} banner--container{% endif %}{% if section.settings.show_text_below %} banner--mobile-bottom{% endif %}">
      <div class="banner__media-content">
        {%- if section.settings.subtitle != blank -%}
          <div class="banner__media-subtitle">
            {{ section.settings.subtitle }}
          </div>
        {%- endif -%}
        {%- if section.settings.main_title != blank -%}
          <p class="banner__media-title">
            Meet India’s<span class="heart">
            <sup><svg width="15" height="18" viewBox="0 0 15 18" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M9.31007 10.7317C10.7371 9.49689 12.3493 9.02459 13.8623 7.9868C14.7939 7.34354 13.9744 5.99012 13.1088 6.0335C11.1728 6.02612 8.92641 7.86129 7.63153 9.36168C6.0988 11.0679 5.13435 12.988 4.60608 15.3448C4.41457 16.1076 5.41895 16.2698 5.69639 15.704C6.60797 13.7754 7.81693 12.078 9.31007 10.7317Z" fill="white"/>
              <path d="M0.831748 11.0459C0.578189 11.8587 1.72139 12.4092 1.97494 11.5964C3.14943 7.8833 6.28115 5.27905 9.69899 4.55041C11.4918 4.16915 10.7868 1.12823 9.0213 1.75783C4.87264 3.1612 2.18626 6.6911 0.831748 11.0459Z" fill="white"/>
              </svg></sup>❤️<sup><svg width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M7.26236 9.72938C8.47431 11.1834 8.93786 12.826 9.95642 14.3676C10.5878 15.3168 11.9161 14.4818 11.8735 13.5998C11.8808 11.6272 10.0796 9.33848 8.60701 8.01915C6.93243 6.45749 5.04793 5.47484 2.73476 4.93659C1.98612 4.74147 1.82692 5.76481 2.38217 6.04749C4.27506 6.97628 5.94104 8.20806 7.26236 9.72938Z" fill="white"/>
              <path d="M6.95379 1.09207C6.15608 0.833726 5.61578 1.9985 6.4135 2.25685C10.0578 3.45351 12.6138 6.64435 13.3289 10.1267C13.7031 11.9534 16.6877 11.235 16.0698 9.43622C14.6924 5.20925 11.2279 2.47215 6.95379 1.09207Z" fill="white"/>
              </svg>
            </sup>
              </span>
            Adult Superstore
          </p>
        {%- endif -%}
      </div>
      <div class="banner__media-box">
        {%- if section.settings.video_url != blank -%}
          <div class="banner__media">
            <use-animate data-animate="zoom-fade" class="media-wrapper media-wrapper--large">
              <div class="image-animate media media--{{ section.settings.image_ratio }} media-mobile--{{ section.settings.mobile_image_ratio }}{% if section.settings.video_url == blank %} placeholder{% endif %}">
                {%- assign video_url_downcase = section.settings.video_url | downcase -%}

                {%- if video_url_downcase contains 'youtube.com/watch' -%}
                  {%- assign video_id = section.settings.video_url | split: 'v=' -%}
                  {%- assign video_id = video_id[1] | split: '&' | first -%}
                  <video-section
                    data-type="youtube"
                    data-video-id="{{ video_id }}"></video-section>

                {%- elsif video_url_downcase contains 'youtu.be/' -%}
                  {%- assign video_id = section.settings.video_url | split: '.be/' -%}
                  {%- assign video_id = video_id[1] | split: '&' | first -%}
                  <video-section
                    data-type="youtube"
                    data-video-id="{{ video_id }}"></video-section>

                {%- elsif video_url_downcase contains 'vimeo.com' -%}
                  {%- assign video_id = section.settings.video_url | split: '.com/' -%}
                  {%- assign video_id = video_id[1] | split: '/' | first -%}
                  <video-section
                    data-type="vimeo"
                    data-video-id="{{ video_id }}"></video-section>

                {%- elsif video_url_downcase contains '.mp4' -%}

                    {%- comment -%}Disable autoplay{%- endcomment -%}
                    {% comment %} <video
                      src="{{ section.settings.video_url }}"
                      poster="{{ section.settings.video_thumbnail.url }}"
                      loop muted playsinline autoplay></video> {% endcomment %}
                    <video
                      id="hero-video"
                      src="{{ section.settings.video_url }}"
                      {% if section.settings.video_thumbnail %} poster="{{ section.settings.video_thumbnail | image_url: width: 1920 }}"{% endif %}
                      playsinline loop preload muted
                      style="pointer-events: none;"></video>

                {%- endif -%}
              </div>
            </use-animate>
          </div>
        {%- else -%}
          <div class="banner__media">
            <use-animate data-animate="zoom-fade" class="media media--{{ section.settings.image_ratio }} media-mobile--{{ section.settings.mobile_image_ratio }}">
              {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder image-animate' }}
            </use-animate>
          </div>
        {%- endif -%}
        <div class="banner__content banner__content--middle-center page-width">
          <div class="banner__box"></div>
          <div class="player__media">
            <button id="btn-play" >
              <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 30.051 30.051"><path d="m19.982 14.438-6.24-4.536a.752.752 0 0 0-1.195.607v9.069a.75.75 0 0 0 1.195.606l6.24-4.532a.747.747 0 0 0 0-1.214z"/><path d="M15.026.002C6.726.002 0 6.728 0 15.028c0 8.297 6.726 15.021 15.026 15.021 8.298 0 15.025-6.725 15.025-15.021.001-8.3-6.727-15.026-15.025-15.026zm0 27.54c-6.912 0-12.516-5.601-12.516-12.514 0-6.91 5.604-12.518 12.516-12.518 6.911 0 12.514 5.607 12.514 12.518.001 6.913-5.603 12.514-12.514 12.514z" /></svg>
            </button>
            <button id="btn-pause"  style="display:none">
              <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" style="enable-background:new 0 0 512 512" viewBox="0 0 512 512"><path d="M437.019 74.98C388.667 26.629 324.38 0 256 0 187.619 0 123.332 26.629 74.98 74.98 26.629 123.332 0 187.619 0 256s26.629 132.668 74.98 181.02C123.332 485.371 187.619 512 256 512c68.38 0 132.667-26.629 181.019-74.98C485.371 388.668 512 324.38 512 256s-26.629-132.668-74.981-181.02zM256 482C131.383 482 30 380.617 30 256S131.383 30 256 30s226 101.383 226 226-101.383 226-226 226z"/><path d="M304.199 137.723c-8.284 0-15 6.716-15 15V359.28c0 8.284 6.716 15 15 15s15-6.716 15-15V152.723c0-8.284-6.716-15-15-15zm-96.4 0c-8.284 0-15 6.716-15 15V359.28c0 8.284 6.716 15 15 15s15-6.716 15-15V152.723c0-8.284-6.716-15-15-15z" /></svg>
            </button>
            <button id="btn-nosound"  >
              <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 32 32"><path d="M29.707 18.793c.931.903-.51 2.345-1.414 1.414L25.5 17.414l-2.793 2.793c-.904.931-2.345-.51-1.414-1.414L24.086 16l-2.793-2.793c-.93-.903.51-2.345 1.414-1.414l2.793 2.793 2.793-2.793c.904-.931 2.345.51 1.414 1.414L26.914 16zM16.853 4.283 8.686 10H5a3 3 0 0 0-3 3v6a3 3 0 0 0 3 3h3.685l8.168 5.718A2.013 2.013 0 0 0 20 26.079V5.921a2.013 2.013 0 0 0-3.147-1.639zM8 20H5a1 1 0 0 1-1-1v-6a1 1 0 0 1 1-1h3zm10.001 6.08H18l-8-5.6v-8.959l8-5.6.006 20.162z" /></svg>
            </button>
            <button id="btn-sound"  style="display:none">
              <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 32 32"><path d="M26 16a7.951 7.951 0 0 1-2.286 5.599 1 1 0 0 1-1.428-1.4 5.999 5.999 0 0 0 0-8.397 1 1 0 0 1 1.428-1.4A7.951 7.951 0 0 1 26 16Zm-.316-9.73a1 1 0 0 0-1.368 1.46 11.126 11.126 0 0 1 0 16.541 1 1 0 0 0 1.368 1.459 13.124 13.124 0 0 0 0-19.459ZM20 5.92v20.16a2.013 2.013 0 0 1-3.147 1.638L8.686 22H5a3 3 0 0 1-3-3v-6a3 3 0 0 1 3-3h3.685l8.168-5.718A2.013 2.013 0 0 1 20 5.921ZM8 12H5a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h3Zm10.006 14.082L18 5.921l-8 5.6v8.959l8 5.6h.001Z" /></svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const homePage_heroSectionVideoScripts = {
    videoSound: false,
    loadedVideo: false,
    video: document.querySelector("#hero-video"),
    btnPlay: document.querySelector("#btn-play"),
    btnPause: document.querySelector("#btn-pause"),
    btnMute: document.querySelector("#btn-nosound"),
    btnSound: document.querySelector("#btn-sound"),
    contentBlock: document.querySelector(".banner__box"),
    playerButtonWrapper: document.querySelector(".player__media"),
    init() {
      this.btnPlay.addEventListener("click", () => this.toggleVideo())
      this.btnPause.addEventListener("click", () => this.toggleVideo())
      this.btnMute.addEventListener("click", () => this.toggleSound())
      this.btnSound.addEventListener("click", () => this.toggleSound())
    },
    toggleVideo() {
    if (this.video.paused) {
      this.video.muted = !this.videoSound;
      this.video.play();
      this.contentBlock.classList.add("banner__box--hidden")
      this.playerButtonWrapper.style.opacity = 0;
      setTimeout(() => {
        this.playerButtonWrapper.classList.add("player__media--play")
        this.btnPlay.style.display = "none";
        this.btnPause.style.display = "block";
        this.playerButtonWrapper.style.opacity = 1;
      }, 300)
    } else {
      this.video.pause();
      this.contentBlock.classList.remove("banner__box--hidden")
      this.playerButtonWrapper.style.opacity = 0;
      setTimeout(() => {
        this.playerButtonWrapper.classList.remove("player__media--play")
        this.btnPlay.style.display = "block";
        this.btnPause.style.display = "none";
        this.playerButtonWrapper.style.opacity = 1;
      }, 300)
    }
  },
    toggleSound() {
    if (this.video.muted) {
      this.videoSound = true;
      this.btnSound.style.display = "block";
      this.btnMute.style.display = "none";
    } else {
      this.videoSound = false;
      this.btnSound.style.display = "none";
      this.btnMute.style.display = "block";
    }
    this.video.muted = !this.videoSound;
  }
  }
  document.addEventListener("DOMContentLoaded", () => {
    homePage_heroSectionVideoScripts.init()
  })
</script>

{% schema %}
{
  "name": "Video hero with text",
  "tag": "section",
  "class": "section text-video-hero-section",
  "settings": [
    {
      "type": "text",
      "id": "main_title",
      "label": "Main title"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "text",
      "id": "video_url",
      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
      "label": "t:sections.video-hero.settings.video.label",
      "info": "t:sections.video-hero.settings.video.info",
      "placeholder": "t:sections.video-hero.settings.video.placeholder"
    },
    {
      "type": "image_picker",
      "id": "video_thumbnail",
      "label": "t:sections.video-hero.settings.video_thumbnail.label",
      "info": "t:sections.video-hero.settings.video_thumbnail.info"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "label": "t:sections.all.image_ratio.options__2.label",
          "value": "400px"
        },
        {
          "label": "t:sections.all.image_ratio.options__3.label",
          "value": "450px"
        },
        {
          "label": "t:sections.all.image_ratio.options__4.label",
          "value": "500px"
        },
        {
          "label": "t:sections.all.image_ratio.options__5.label",
          "value": "550px"
        },
        {
        "label": "570px",
        "value": "570px"
        },
        {
          "label": "t:sections.all.image_ratio.options__6.label",
          "value": "600px"
        },
        {
          "label": "t:sections.all.image_ratio.options__7.label",
          "value": "650px"
        },
        {
          "label": "t:sections.all.image_ratio.options__8.label",
          "value": "700px"
        },
        {
          "label": "t:sections.all.image_ratio.options__9.label",
          "value": "750px"
        },
        {
          "label": "t:sections.all.image_ratio.options__10.label",
          "value": "100vh"
        }
      ],
      "default": "650px",
      "label": "t:sections.all.image_ratio.label"
    },
    {
      "type": "checkbox",
      "id": "show_text_box",
      "default": false,
      "label": "t:sections.video-hero.settings.show_text_box.label"
    },
    {
      "type": "select",
      "id": "layout_width",
      "label": "Section width",
      "options": [
          {
          "value": "default",
          "label": "Default"
          },
          {
          "value": "full_width",
          "label": "Full width"
          },
          {
          "value": "layout_width_custom",
          "label": "Custom width (1350px)"
          }
          ],
      "default": "full_width"
      },
    {
      "type": "checkbox",
      "id": "show_divider",
      "default": false,
      "label": "t:sections.all.show_divider.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.mobile_layout.header.content"
    },
    {
      "type": "select",
      "id": "mobile_image_ratio",
      "options": [
        {
          "label": "t:sections.all.mobile_layout.mobile_image_ratio.options__1.label",
          "value": "auto"
        },
        {
          "label": "t:sections.all.mobile_layout.mobile_image_ratio.options__2.label",
          "value": "200px"
        },
        {
          "label": "t:sections.all.mobile_layout.mobile_image_ratio.options__3.label",
          "value": "250px"
        },
        {
          "label": "t:sections.all.mobile_layout.mobile_image_ratio.options__4.label",
          "value": "300px"
        },
        {
          "label": "t:sections.all.mobile_layout.mobile_image_ratio.options__5.label",
          "value": "400px"
        },
        {
          "label": "t:sections.all.mobile_layout.mobile_image_ratio.options__6.label",
          "value": "500px"
        },
        {
          "label": "t:sections.all.mobile_layout.mobile_image_ratio.options__7.label",
          "value": "600px"
        },
        {
          "label": "t:sections.all.mobile_layout.mobile_image_ratio.options__8.label",
          "value": "100vh"
        }
      ],
      "default": "auto",
      "label": "t:sections.all.mobile_layout.mobile_image_ratio.label"
    },
    {
      "type": "checkbox",
      "id": "show_text_below",
      "default": true,
      "label": "t:sections.video-hero.settings.show_text_below.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.colors.header.content"
    },
    {
      "type": "color",
      "id": "colors_button_label",
      "label": "t:sections.all.colors.colors_button_label.label",
      "default": "#1a1b18"
    },
    {
      "type": "color",
      "id": "colors_button_background",
      "label": "t:sections.all.colors.colors_button_background.label",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "colors_text",
      "label": "t:sections.all.colors.colors_text.label",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "colors_overlay",
      "label": "t:sections.all.colors.colors_overlay.label",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "colors_overlay_opacity",
      "label": "t:sections.all.colors.overlay_opacity.label",
      "default": 28,
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "t:sections.all.colors.overlay_opacity.unit"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.header.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "t:sections.all.padding.padding_top.unit",
      "label": "t:sections.all.padding.padding_top.label",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "t:sections.all.padding.padding_bottom.unit",
      "label": "t:sections.all.padding.padding_bottom.label",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Video hero with text"
    }
  ],
  "disabled_on": {
    "groups": ["header", "footer", "custom.overlay"]
  }
}
{% endschema %}
